.App {
  text-align: center;
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

body {
  font-family: "Monoton", cursive;
}

h1 {
  font-size: 56px;
  margin: 0;
}

.white-keys,
.black-keys {
  display: inline-flex;
}

.white-keys {
  font-family: "Roboto", sans-serif;
  position: relative;
}

.black-keys {
  font-family: "Roboto", sans-serif;
  position: absolute;
  left: 30px;
}

.black-keys span.empty {
  visibility: hidden;
}

.white-keys span {
  cursor: pointer;
  height: 200px;
  width: 40px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
  margin: 2px;
  padding: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: inline-flex;
  align-items: flex-end;
  justify-content: center;
  transition: 0.25s linear;
}

.white-keys span:hover {
  height: 198px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.15);
  transition: 0.25s linear;
}

.black-keys span:hover {
  height: 148px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.15);
  transition: 0.25s linear;
}

.black-keys span {
  cursor: pointer;
  height: 150px;
  width: 40px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
  margin: 2px;
  padding: 10px;
  background-color: #000;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: 0.25s linear;
  color: #fff;
  display: inline-flex;
  align-items: flex-end;
  justify-content: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
